{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Hello Django</title>
        <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Hello Django!</h1>
        <button onclick="toggleMode()">TOGGLE DARK MODE</button>
        <script src={% static 'js/script.js' %}></script>
    </body>
</html>